.ackrc
*.o
*.log
*~

compile

/titan
/bin/
/src/.ackrc
/src/*_types.cc
/src/*_types.hh
/src/libtest.ttcn
/src/libutils.ttcn
/src/lib*.cc
/src/lib*.hh
/src/*_suite.cc
/src/*_suite.hh
/src/tcp2_check.ttcn
/src/tcp2_check.cc
/src/tcp2_check.hh
/src/tcp2_types.ttcn
/src/tcp2_utils.ttcn
/src/tcp2_utils.cc
/src/tcp2_utils.hh
/src/Makefile
/src/cversion.h
/src/test_suite
!/src/libutils_ext.cc

