*.o
*.log
*~
*.pcap

.TITAN_properties
.cproject
.project
.settings/
compile
kwinject.out

/titan
/bin/
/src/*_types.cc
/src/*_types.hh
/src/lib*.cc
/src/lib*.hh
/src/*_suite.cc
/src/*_suite.hh
/src/port*_module.cc
/src/port*_module.hh
/src/cons.cc
/src/cons.hh
/src/Makefile
/src/cversion.h
/src/test_suite
!/src/libutils_ext.cc

